@import './common/base.scss';

.sw-divider {
  background: #e0e0e0;

  &--horizontal {
    width: 100%;
    height: 1px;
    margin: 16px 0;
  }

  &--vertical {
    width: 1px;
    height: 100%;
    margin: 0 16px;
    display: inline-block;
  }
}
