@import './common/base.scss';

.sw-option {
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
  color: $fontDefault;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover:not(&--disabled):not(&--active) {
    background: #f5f7fa;
  }

  &--active {
    color: $primary;
    background: rgba($primary, 0.1);
    font-weight: 500;
  }

  &--disabled {
    color: #c0c4cc;
    cursor: not-allowed;
    background: none;
  }
}